@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --primaryColor: #5fb7ea;
    --primaryRGBA: rgba(0,0,0,0.3);
    --mainGrey: #fafafa;
    --darkGrey: #5f5e5e;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainTransition: all 0.3s ease-in-out;
    --mainSpacing: 0.3rem;
}

body {
    font-family: 'Montserrat', sans-serif!important;
    background: var(--mainGrey) !important;
    color: var(--mainBlack) !important;
}

.text-title {
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    font-weight: bold;
}

.text-main {
    color: var(--primaryColor);
}

.cart-icon {
    cursor: pointer;
}